<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>CONTACT</title>
    
  
</head>
<body>
    <div class="container">
        <h1> EXPLORE <br>LAPTOPS</h1>
        <div class="navbar">
            <ul>
                <li><a href="http://127.0.0.1:5500/index.html">HOME</a></li>
                <li><a href="http://127.0.0.1:5500/laptop.html">LAPTOPS</a></li>
                <li><a href="http://127.0.0.1:5500/about.html">ABOUT</a></li>
                <li><a href="http://127.0.0.1:5500/contact.html">SIGN IN </a></li>
            </ul>
        </div>
    </div>
   

<body><center>
    <Fieldset >
    <h1 align="center" class="login_head">Login</h1>

    
    
    <input type="text" placeholder="  USERNAME" id="SHET" class="username">
    <br><br>
    
    <input type="password" placeholder="  PASSWORD" id="SHET" class="password">
    <br><br>
    <a href="" id="forget">Forget password?</a>
    <br><br>
    <center>
    <input type="button" value="LOGIN" id="botton" class="login">
    <br><br>
    Or Sign Up Using
    <br><br>
    <a href="https://www.facebook.com/login/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyh-Uql4T1A-ymZ61UWxbx30CKSvxN2qXQqwjiHcE&s" alt="fb logo" height="30"></a>
    <a href="https://www.instagram.com/accounts/login/?next=https%3A%2F%2Fwww.instagram.com%2Faccounts%2Fonetap%2F%3Fnext%3D%252F%26__coig_login%3D1"><img src="https://img.freepik.com/premium-vector/modern-badge-logo-instagram-icon_578229-124.jpg" alt="intragram" height="30"></a>
    <a href="https://in.linkedin.com/?src=go-pa&trk=sem-ga_campid.14650114788_asid.151761418307_crid.657403558718_kw.linkedin%20login_d.c_tid.kwd-12704335873_n.g_mt.e_geo.9181808&mcid=6844056167778418689&cid=&gclid=Cj0KCQjw1aOpBhCOARIsACXYv-fO4mNgk__LiRoOZCor8X6pyy471ankT0-soDd69bOOf7ytOXnZ91saAuxBEALw_wcB&gclsrc=aw.ds"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu1kImFc5_9yfLsmtZReCI9vbCKJ4qqtfwfYMLDho&s" alt="linkdin" height="30">
    </a>
    <br><br><br>
    Or Sign Up Using
    <br><br>
    <a href="">SIGN UP</a>

</center>
</center>
</FIeldset>
{% comment %} <div class="logo">
    <img src="{% static 'main/images/laptop3.jpg' %}" alt="laptops logo" width='1600px',height='1900px'>

</div> {% endcomment %}

</body>
</html>
