
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>LAPTOP_SELLING</title>
   
</head>
<body>
    <div class="background-image"></div>

    <div class="logo">
       <img src="{% static 'main/images/laptop3.jpg' %}" alt="laptops logo" width='1600px',height='1900px',>

   </div> 
    <div class="container">
        <h1>EXPlORE<br>LAPTOPS</h1>
        <div class="navbar">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="http://127.0.0.1:5500/laptop.html">LAPTOPS</a></li>
                <li><a href="http://127.0.0.1:5500/about.html">ABOUT</a></li>
                <li><a href="http://127.0.0.1:5500/contact.html">SIGN IN </a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <h1>PURCHASE ANY LAPTOPS <br>YOU WANT</h1>
    </div>
    <div class="search">
        <input type="text" placeholder="Enter Your Laptop Name">
    </div>
    <div class="submit">
        <a href="#">Submit</a>
    </div>
  
</body>
</html>

