
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add this in the head section of your HTML file -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>LOPTOPS</title>
    <style>
        /* Add CSS styles for better presentation */
        img {
            max-width: 100%;
            height: auto;
            width: 100%;
        }
        /* .navbar{
          width: 20px;
        } */
    </style>
</head>
<body>
  <div class="container x">
    <h1>EXPlORE<br>LAPTOPS</h1>
    <div class="navbar">
    
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="http://127.0.0.1:5500/laptop.html">LAPTOPS</a></li>
            <li><a href="http://127.0.0.1:5500/about.html">ABOUT</a></li>
            <li><a href="http://127.0.0.1:5500/contact.html">SIGN IN </a></li>
        </ul>
   
</div>
</div>
    <br><br>
    <h3>SPEACIAL OFFER FOR YOU</h3>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="{% static 'main/images/hp laptop 15s.jpg' %}" alt="">
            <div class="card-body">
              <h5 class="card-title"><b>hp laptop 15s</b></h5><br>
              <p>Rs 53,499</p>
              <button type="button"><a href="http://127.0.0.1:5500/hp%20laptop%2015s.html">CLICK HERE</a></button></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{% static 'main/images/asus.jpg' %}" alt="">
            <div class="card-body">
              <h5 class="card-title"><b>asus</b> </h5><br>
              <p class="card-text">Rs 66,990 <br> <br>
                <button type="button"><a href="http://127.0.0.1:5500/asus.html">CLICK HERE</a></button></p>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{% static 'main/images/inteli7.avif' %}" alt="">
            <div class="card-body">
              <h5 class="card-title"><b>inteli7</b></h5>
              <br>
              <p>Rs 86,747</p>
              <button type="button"><a href="http://127.0.0.1:5500/intelii7.html">CLICK HERE</a></button></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{% static 'main/images/acer predator helois.jpg' %}" alt="">
            <div class="card-body">
              <h5 class="card-title"><b>acer predator helois</b></h5>

              <p class="card-text">Rs 1,49,900</p><br>
              <button type="button"><a href="http://127.0.0.1:5500/acer%20predator%20helois.html">CLICK HERE</a></button></p>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <strong><h4 style="color: white;">Best Gaming laptops 2024</h4></strong>
      <br>
      <br>
      <br>

      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="{% static 'main/images/surface pro9.jpg' %}" alt="">
            <div class="card-body"><br><br><br><br><br><br>
              <h5 class="card-title"><b>Surface pro 9</b></h5>
              <p class="card-text">RS 67000</p>
              <button type="button"><a href="http://127.0.0.1:5500/surface%20pro9.html">CLICK HERE</a></button></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{% static 'main/images/acer aspire.jpg' %}" alt="">
            <div class="card-body">
              <h5 class="card-title"><b>Acer aspire</b></h5>
              <p class="card-text">Rs 62,990</p>
              <button type="button"><a href="http://127.0.0.1:5500/acer%20aspire.html">CLICK HERE</a></button></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{% static 'main/images/hp victus.jpg' %}" alt="">
            <div class="card-body">
              <h5 class="card-title"><b>HP victus 188</b></h5>
              <p class="card-text">Rs 86,880</p>
              <button type="button"><a href="http://127.0.0.1:5500/hp%20victus%20188.html">CLICK HERE</a></button></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{% static 'main/images/asus rog strix.webp' %}" alt="">
            <div class="card-body"><br><br><br>
              <h5 class="card-title"><b>Asus rog strix</b></h5>
              <p class="card-text">Rs 88,990</p>
              <button type="button"><a href="http://127.0.0.1:5500/asus%20rog%20strix.html">CLICK HERE</a></button></p>
            </div>
          </div>
        </div>
      </div>
     

     
      <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'main/js/jquery.js' %}"></script>
      <script src="{% static 'main/js/popper.js' %}"></script>
</body>
</html>
